@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollbar-track-color: #e0e0e0;
    --scrollbar-thumb-color: #9e9e9e;
    --scrollbar-height: 8px;
    --scrollbar-radius: 6px;
}

body {
    background-color: theme(colors.gray.200);
    height: 100vh;
}

::-webkit-scrollbar {
    height: var(--scrollbar-height);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: var(--scrollbar-radius);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: #757575;
}